.city-tour {
  text-align: center;
  background: linear-gradient(
      rgba(0, 0, 0, 0.686), 
      rgba(0, 0, 0, 0.641)
    ),
    url('./assets/city31.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #ff7e5f;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #f0f0f0;
}

.city-search {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  font-size: 1.1rem;
  width: 60%;
  max-width: 500px;
  transition: box-shadow 0.3s ease;
  margin-bottom: 1.5rem;
}

.city-search:focus {
  outline: none;
  box-shadow: 0 4px 10px rgba(255, 126, 95, 0.5);
}

button {
  padding: 0.75rem 1.5rem;
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

button:disabled {
  background: #999;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  transform: scale(1.05);
  background: linear-gradient(135deg, #fe8c00, #f83600);
}
