.info-bites {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  color: #ddb4b4bb;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 20px;
  
  /* Background Image */
  background: linear-gradient(
      rgba(101, 82, 82, 0.603), 
      rgba(0, 0, 0, 0.453)
    ),
    url('./assets/infobites_bg1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: 'Playfair Display', sans-serif;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #9f353d, #6c6358);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}






p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  opacity: 0.9;
}

.search-box {
  width: 60%;
  max-width: 500px;
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  outline: none;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0px 0px 15px rgba(255, 138, 0, 0.3);
}

.search-box:focus {
  box-shadow: 0px 0px 25px rgba(255, 138, 0, 0.6);
}

button {
  margin-top: 15px;
  padding: 12px 30px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0px 5px 15px rgba(229, 46, 113, 0.4);
}

button:disabled {
  background: linear-gradient(90deg, #6c6358, #ce5682);
  cursor: not-allowed;
  box-shadow: none;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(229, 46, 113, 0.6);
}

.loading-spinner {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ff8a00;
}

