.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #a53636;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  position: relative;
  text-align: center;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.city-thumbnail {
  width: 100%;
  max-width: 300px;
  margin-top: 1rem;
  border-radius: 10px;
}

/* Images Button */
.images-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #ff7e5f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s;
}

.images-button:hover {
  background: #feb47b;
  transform: scale(1.05);
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 1rem;
}

.image-gallery img {
  width: 100px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s;
}

.image-gallery img:hover {
  transform: scale(1.1);
}
