@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Lobster&display=swap');

.navbar {
  display: flex;
  justify-content: space-between; /* Logo on left, tagline on right */
  align-items: center;
  background: linear-gradient(
      rgba(100, 29, 29, 0.825), 
      rgba(0, 0, 0, 0.84)
    ),
    url('./assets/infobites_bg1.jpg');
  padding: 10px 30px;
  height: 35px;
  
}

/* Logo Styling */
.navbar-logo {
  display: flex;
  align-items: center;
}

.logo-text {
  font-family: 'Playfair Display', sans-serif;
  font-size: 1.9rem;
  font-weight: bold;
  letter-spacing: 3px;
  background: linear-gradient(90deg, #a9630f, #9e9792);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: text-shadow 0.3s ease-in-out;
}

.logo-text:hover {
  text-shadow: 0 0 20px rgba(255, 140, 0, 0.9);
}

/* Stylized I and B */
.stylized {
  font-family: 'Lobster', cursive;
  font-size: 2.3 rem;
  transform: rotate(-5deg);
  text-shadow: 3px 3px 10px rgba(198, 188, 178, 0.304);
}

/* Tagline Styling */
.tagline-container {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  overflow: hidden;
  white-space: nowrap;
}

.tagline {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  font-family: 'Playfair Display', serif;
  white-space: nowrap;
}

/* Blinking Cursor */
.cursor {
  font-weight: bold;
  font-size: 1.3rem;
  color: #ffd700;
  animation: blink 0.8s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
